<br>
<div class="container">
	<div class="row">
				<div class="col-md-3">
				<h2>Editing Page</h2>
				</div>
   
			<div class="col-md-9">
				<div class="listing-container">
      			<%= form_for @listing do |f| %>
               <%= render partial: '/listings/form', locals: {f: f} %>
               <%end %>
				</div>						
			</div>

    </div>
	
</div>
