<br>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		<h1>Create a listing</h1>
		</div>

      <div class="col-md-9">
         <div class="listing-container">
            <%= form_for @listing do |f| %>
            <%= render partial: '/listings/form', locals: {f: f} %>
   	      <%end %>
         </div>
      </div>



	</div>
</div>




