/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
a.btn-info {
	margin-right: 10px;
}

.bluebutton {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: #00A6FF;
  font-size: 1.5rem;

  font-weight: 100;
  border: 1px solid #fff;
  box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.bluebutton:hover {
  color: #006398;
  border: 1px solid #006398;
  box-shadow: 2px 2px 20px #AFE9FF;
}

button.bluebutton {
  -webkit-appearance: none;
  -moz-appearance: none;
}



#location_list {
  margin-left: -40px;
}

.hidden {
  display:none;

}

.subforums{
  list-style-type: none;
  }





.btn-success{
 margin:3px;
}


// for showing the individual listing page
#left{
  padding-right:0px;
}

#right{
  padding-left:0px;
}


#property_type{
 color:#a52903;
 font-weight: bold;
 font-size: 14px;
}

// Booking stuff on view
.redbutton {
  width: 100%;
  border-radius: 5px;
  font-size: 20px;
  padding: 14px 80px;
  cursor: pointer;
  color: #fff;
  background-color: #E85756;
  font-size: 1.5rem;
  font-weight: 100;
  border: 1px solid #fff;
  // box-shadow: 2px 2px 5px #AFE9FF;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
}

.redbutton:hover {
  color: #800A00;
  border: 1px solid #800A00;
  // box-shadow: 2px 2px 20px #AFE9FF;
}

button.redbutton {
  -webkit-appearance: none;
  -moz-appearance: none;
}

#book_now{
border-radius: 5px;
font-size: 20px;
padding: 10px 14px;
background-color: #E85756;
background-color: #E85756;
font-weight: 100;
border: 1px solid #fff;
text-align: center;
transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;

}

#book_button{

  width: 100%;
  cursor: pointer;
  color: #fff;
  background-color: #E85756;
  font-size: 1.5rem;
  font-weight: 100;
  border: 0px solid #fff;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
}

.booking{
  margin-top:5px;
  text-align: left;
  color:#fff;
  font-size: 0.9rem;
}

//Listing Containers
.listing-container {

  background-color: #f5f5ef;
  // border:0.5px solid gray;
  // background-color: white;
  padding:15px;
  border-radius: 10px;
  margin:10px;

.reservation_list{
  background-color: white;
  padding:15px;
  border:1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px
}

}
.two{
  background-color: white;
  border:2px solid gray;
}
.three{
background-color: white;

}

button:focus {outline:0;}


//navbar stuff
// input[type=search]:focus {
//     width: 92%;
// }

// input[type=search]{ 
//     width: 20%;
//     -webkit-transition: width 0.4s ease-in-out;
//     transition: width 0.4s ease-in-out;

// }

.avatar{
  height: 50px;
  width :50px;
  border-radius: 25px;
  margin-right: 0.375em;

}



