.welcome_text{
   font-size: 300%;
   color: white;
}

.image_container{
   // width:100%;
// height: 417px;
   text-align: center;
}
#image{

   // z-index:0;
   position: relative;
   max-width: 110%;
   max-height: 100%;

   // width: 99%;

  // transform: scale(1.3);
  // -webkit-animation: slowpan 50s linear 0s infinite alternate;
 
}
 

@-webkit-keyframes slowpan {
 0% {
    transform:translateX(-100px) scale(1.25);
  }
  
  100% {
    transform:translateX(100px) scale(1.25);
  }
  
}
