.search{
   border-radius: 1px;
   border-width: 1px;
   width:300px;
   height: 35px;
}

.search_button{
   border-radius: 3px;
   margin-left: 5px;
    margin-bottom: 4px;
   height: 35px;
}

.tiny_search{
   border-radius: 1px;
   border-width: 1px;
   width:35px;
   height: 35px;

}